/* Augment and override persistent styles in style.css 

   Excerpt from Joshua Clayton's Blueprint typography.css, removed from PyReports style.css
   * Source: https://github.com/joshuaclayton/blueprint-css/blob/master/blueprint/src/typography.css
*/

  /* Heading overrides
  -------------------------------------------------------------- */


  /* Text elements
  -------------------------------------------------------------- */


  /* Lists
  -------------------------------------------------------------- */


  /* Tables
  -------------------------------------------------------------- */

  /*
    You can zebra-stripe your tables in outdated browsers by adding
    the class "even" to every other table row.
    For CSS Specificity calculations - these are 
  */
  table tbody > tr:nth-child(even),
  table tbody > tr.even { background: #e5ecf9; }
