/* Augment and override persistent styles in style.css */

/* Default font settings.
*/


  /* Headings
  -------------------------------------------------------------- */

  h1 { font-size: 1.4em; font-weight: bold; color: #222; margin: 0.5em 0em; }
  h2 { font-size: 1.1em; font-weight: bold; color: #222; margin: 0em 0em 0.3em; }


  /* Text elements
  -------------------------------------------------------------- */


  /* Lists
  -------------------------------------------------------------- */


  /* Tables
  -------------------------------------------------------------- */

  hr { width: 67%;
       color: #222;
  }

  table         { border-collapse: collapse;
                  margin-bottom: 1.4em;
                  width:85%;
                  text-align: left;
  }

  thead, th     { color: #dfdfdf;
                  font-weight: bold;
                  background: #606060 !important;
  }

  th,td,caption { padding: 4px 10px 4px 5px;
                  vertical-align: top;
                  border-bottom: 1px solid #606060;
                  border-right: 1px dotted #606060;
  }

  th:last-of-type,
  td:last-of-type,
  caption       { border-right: none; }


  /* spacing between distinct (styled) blocks of rows within a single table
     1 - independent rows
     2 - subtot_blocks of rows and 
     3 - rowspan_blocks of rows
  */

  tbody tr:first-child td       { padding-top: 8px; }
  tbody tr:last-child td        { padding-bottom: 8px; }

  tbody.subtot_block tr:first-child td { font-weight: bold; }
  tbody.subtot_block
    tr:not(:first-of-type)
      td:first-child            { text-indent: 16px; }

  tbody.rowspan_block tr:first-child td { font-weight: bold; }

  tfoot       { font-style: italic; }
  caption     { caption-side: bottom;
                text-align: left;
                font-size: 1.25em;
                font-weight: bold;
                background: #dfdfdf;
                color: #606060;
  }


/* Misc elements
-------------------------------------------------------------- */

/* allow these to float and stack like table rows */
button,
select { height: 24px;
         display: list-item;
         list-style-type: none;
         /* Float overrides list-item display, so first float section in HTML
            https://developer.mozilla.org/en-US/docs/Web/CSS/float */
}
