<!-- PyReports Jinja2 template -->

<!DOCTYPE html>
<html>

    <head lang="en">

        <meta content="text/html; charset=UTF-8">

        <title>{{ container['name'] }}</title>

        <!-- Activate this style to inspect table structures with mouse-hover
             HOVER over table elements to highlight HTML structure -->
            <!-- style>
                table:hover,
                th:hover,
                tr:hover,
                td:hover,
                caption:hover {
                    border: 1px dotted #f0f;
                }
            </style -->

        <!-- Persistent, Preferred and Alternate Stylesheets supplied by caller
        -->
        {% for key, val in container['settings']['stylesheets'].items() %}
            {% if key in ["", "Preferred"] %}
                {% set rel = 'stylesheet' %}
            {% else %}
                {% set rel = 'alternate stylesheet' %}
            {%- endif %}

            {% for dic in val %}
                <link rel="{{ rel }}" type="text/css" href="{{dic['url']}}" 
                {% if "" < key %}
                    title="{{ key|e }}"
                {%- endif %}/>
            {%- endfor %}
        {%- endfor %}

        <!-- # Set text alignment from user settins -->
        {% if container['settings']['values_alignment'] == 'left' %}
            <style>.aligned_df td { text-align: left; }</style>
        {% else %}
            <style>.aligned_df td { text-align: right; }</style>
        {%- endif %}

    </head>

    <body>

        <!-- Report title/name -->
        <h1> {{ container['title']  }} </h1>
        <hr>

        <!-- Report Description -->
        {% if container['description'] != None %}
            {{ container['description'] }}
        <br>
        {% endif %}

        <!-- Table of contents -->
        {% if container['settings']['toc'] == True %}
            <h2> Table of contents</h2>
            <hr><br>
            <ol>
            {% for i in report %}
                <li><a href="#{{i}}"> {{ report[i]['digest']['title'] }} </a></li>
            {% endfor %}
            </ol>
            <br>
        {% endif %}

        {{ date }}
        <br>
        <a href="https://gitlab.com/nicolasdupuis/pyreports">Powered by PyReports</a>
        <br><br>
        <p style="page-break-before: always" ></p>

        <!-- Loop on every requested report item -->
        {% for i in report %}

            <hr>
            <!-- Title -->
            <h2 id="{{i}}">{{ report[i]['digest']['title'] }}</h2>

            <!-- Subtitle -->
            {% if report[i]['digest']['subtitle'] != None %}
                <h5>{{ report[i]['digest']['subtitle'] }}</h5>
            {% endif %}

            <!-- Description  -->
            {% if report[i]['digest']['description'] != None %}
                {{ report[i]['digest']['description'] }}
                <br>
            {% endif %}

            <!-- Table template -->
            {% if report[i]['request']['type'] == 'table' %}

                <!-- No grouping, let's dump the whole table in html format -->
                <!-- HERE AND BELOW -
                     HOW TO SUPPORT DIFFERENT TBODY BLOCKS include table structure, like ROWSPAN? -->
                {% if report[i]['digest']['group'] == [] %}

                    {{ report[i]['table'] }}

                <!-- We have groups in the table -->
                {% else %}

                    {% for group in report[i]['table'] %} <!-- nested dict ! -->

                        <h4> {{report[i]['digest']['group']}} = {{group}}</h4>

                        <!-- HERE AND ABOVE -
                             HOW TO SUPPORT DIFFERENT TBODY BLOCKS include table structure, like ROWSPAN? -->
                        {{ report[i]['table'][group]['html'] }}

                        {% if report[i]['settings']['page_break'] == True and loop.index < report[i]['table']|length %}
                            <p style="page-break-before: always" ></p>

                        {% else %}
                            </br>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </br>

            {% endif %}

            <!-- Figure template: placeholder that will be replaced later on -->
            {% if report[i]['request']['type'] == 'figure' %}
               @@figure_id={{i}}@@
            {% endif %}

            <!-- Footnotes -->
            {% if report[i]['digest']['footnotes'] != None %}

                {% for footnote in report[i]['digest']['footnotes'] %}
                    {{ footnote }}
                    </br>
                {% endfor %}

            {% endif %}

            <!-- Date -->
            {% if report[i]['settings']['display_date'] == True %}
                </br>
                </br>
                {{ date }}
            {% endif %}

            <!-- Page break before each new report item -->
            {% if loop.index < report|length %}
                <p style="page-break-before: always" ></p>
            {% endif %}

        {% endfor %}

    </body>

</html>
