/* Augment and override persistent styles in style.css */

/* Default font settings.
*/


  /* Headings
  -------------------------------------------------------------- */

  h1 { font-size: 1.4em; font-weight: bold; color: #00b0ae; margin: 0.5em 0em; }
  h2 { font-size: 1.1em; font-weight: bold; color: #222; margin: 0em 0em 0.3em; }


  /* Text elements
  -------------------------------------------------------------- */


  /* Lists
  -------------------------------------------------------------- */


  /* Tables
  -------------------------------------------------------------- */

  hr { color: #5c00a7; }

  thead, th     { color: #d6a4ff;
                  background: #5c00a7 !important;
  }

  th,td,caption { border-bottom: 1px solid #5c00a7;
                  border-right: 1px dotted #5c00a7;
  }

  caption     { background: #d6a4ff;
                color: #5c00a7; }


  /* Misc elements
  -------------------------------------------------------------- */
