/* Augment and override persistent styles in style.css */

/* Default font settings.
*/


  /* Headings
  -------------------------------------------------------------- */

  h1 { font-size: 1.4em; font-weight: bold; color: #00b0ae; margin: 0.5em 0em; }
  h2 { font-size: 1.1em; font-weight: bold; color: #222; margin: 0em 0em 0.3em; }


  /* Text elements
  -------------------------------------------------------------- */


  /* Lists
  -------------------------------------------------------------- */


  /* Tables
  -------------------------------------------------------------- */

  hr { color: #00b0ae; }

  thead, th     { color: #00b0ae;
                  background: #f0f8f8 !important;
  }

  th,td,caption { border-bottom: 1px solid #00b0ae;
                  border-right: 1px dotted #00b0ae;
  }

  caption     { background: #f0f8f8;
                color: #00b0ae; }


  /* Misc elements
  -------------------------------------------------------------- */
